<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> Welcome to my Pantry!</h1>

    <a href="/users/<%=user._id%>/foods/new">Add New Item</a>
    <br>
    <p class="emoji">🫘🥫🥔</p>
    <ul>
    <% if (foods) { %>
        <% foods.forEach((food) => { %>
            <li>
                <a href="/users/<%= user._id%>/foods/<%= food._id %>">
            <%= food.name %>
            </a>
            </li>
            <% }) %>
            <% } else { %> There are no items in this pantry.
                <% } %>
            </ul>


</body>
</html>